.container{
  width:1202px;
}
#header {
  width: 100%;
  height: 30px;
  background: #3E3A39;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 30px;
  a {
    color: #fff;
  }
  .welcome li {
    float: left;
    margin-right: 20px;
    a:hover {
      color: #999;
    }
  }
  .user-bar {
    > li {
      float: left;
      margin-right: 30px;
      > a:hover {
        color: #999;
      }
    }
    .more-menu {
      position: relative;
      .list {
        position: absolute;
        left: -40px;
        top: 30px;
        border: 1px solid #d7d7d7;
        display: none;
        z-index: 10000;
      }
      &:hover .list {
        display: block;
      }
      .list a {
        font-size: 12px;
        width: 100px;
        display: block;
        color: #000;
        background-color: #fff;
        border-bottom: 1px dotted #d7d7d7;
        padding: 6px 10px;
        height: 30px;
        line-height: 17px;
        overflow: hidden;
      }
    }
  }
}

/*====== search部分====== */

#search {
  margin-bottom: 20px;
  .logo-search {
    margin-right: 100px;
  }
  .search-tab {
    .soinput {
      float: left;
      border: #e73736 2px solid;
      border-right: 0;
      width: 432px;
      height: 36px;
      padding-left: 10px;
    }
    .sobtn {
      background: #e73736;
      float: left;
      display: block;
      text-align: center;
      width: 82px;
      height: 36px;
      color: #fff;
      border: none;
      margin-right: 1px;
      cursor: pointer;
    }
  }
  .search-tags a {
    float: left;
    display: block;
    margin-right: 10px;
    color: #666666;
    font-size: 12px;
    margin-top: 8px;
  }
  .shop {
    color: #fff;
    background-color: #F7F7F7;
    height: 36px;
    padding: 2px;
    display: block;
    width: 200px;
    padding-left: 80px;
    position: relative;
  }
}

.car-pic {
  position: absolute;
  background: url(./img/common-icon.png) no-repeat -158px 0px;
  left: 10px;
  top: 3px;
  width: 40px;
  height: 30px;
}

#search {
  .car-go {
    vertical-align: top;
    line-height: 37px;
    color: #666;
    margin-left: -1px;
  }
  .shop .car-go {
    font-size: 12px;
  }
}

/* ========nav=========== */

#nav h2 a {
  display: block;
  width: 210px;
  line-height: 38px;
}

.nav-items li {
  float: left;
  display: block;
  height: 34px;
  padding: 2px 25px;
  position: relative;
  line-height: 34px;
}

#nav {
  a {
    display: block;
    color: #333333;
    text-decoration: none;
    font-size: 12px;
  }
  .nav-items li a:hover {
    color: #e73736;
    border-bottom: 2px solid #e73736;
  }
  .nav-other li {
    float: left;
    text-align: center;
    a {
      height: 36px;
      color: #999;
      font-size: 12px;
      padding-right: 28px;
      padding-top: 10px;
    }
  }
  .all {
    font: 14px;
    display: block;
    height: 38px;
    line-height: 38px;
    text-decoration: none;
    text-align: center;
    text-indent: -15px;
    cursor: default;
    position: relative;
  }
  .nav-one {
    background: #3e3a39;
    width: 200px;
    height: 400px;
    position: absolute;
    top: 180px;
    left: 30px;
    overflow: visible;
    z-index: 50;
    .cateone {
      height: 79px;
      overflow: hidden;
      position: relative;
      zoom: 1;
      z-index: 999;
      border-bottom: 1px dotted #4D4746;
      &:hover {
        background: rgb(105, 97, 97);
        border-left: 5px solid red;
        width: 200px;
      }
      .muyin {
        height: 33px;
      }
      .cateone_1 {
        color: #fff;
        display: inline-block;
        font-size: 16px;
        line-height: 33px;
        margin-top: 10px;
        text-align: center;
      }
      &.mu {
        float: left;
        display: block;
        width: 33px;
        height: 33px;
        margin: 10px 10px 0 0;
        z-index: 999;
      }
      .cateone_2 {
        width: 210px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        a {
          display: inline;
          line-height: 30px;
          color: #fff;
          margin-right: 20px;
        }
      }
    }
    .catetwo {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      background: #fff;
      border: #eee 1px solid;
      border-top: 0;
      width: 997px;
      min-height: 399px;
      position: absolute;
      top: 0;
      left: 200px;
      z-index: 42;
      -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      padding: 20px;
      display: none;
    }
    .list1:hover .catetwo {
      display: block;
    }
    .catetwo {
      a {
        float: left;
        display: block;
        width: 150px;
        height: 50px;
        &:hover {
          color: red;
        }
      }
      dl {
        width: 100%;
        display: block;
        z-index: 49;
        padding: 10px 0;
      }
      dt a {
        color: #e73736;
      }
    }
  }
}

/* ===========二级导航========== */

/* ========gotop========== */

.go-top {
  width: 36px;
  height: 100%;
  position: fixed;
  background: #666;
  top: 0;
  right: 0px;
  .person {
    width: 36px;
    height: 50px;
    .pmsg {
      position: absolute;
      width: 200px;
      height: 200px;
      left: -200px;
      background: #fff;
      top: 0px;
      border: 1px solid #c23d3d;
      display: none;
    }
    &:hover .pmsg {
      display: block;
    }
  }
  .shop-car {
    height: 130px;
    color: #fff;
  }
  .tu {
    margin-top: 50px;
    height: 50px;
    line-height: 50px;
  }
  .person:hover, .tu:hover, .shop-car:hover, p:hover {
    background: #c23d3d;
  }
  .shop-car span {
    padding-top: 60px;
    width: 16px;
    display: block;
    height: 48px;
    margin: 40px 0 0 12px;
    cursor: pointer;
    line-height: 16px;
  }
  .dibu {
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin-bottom: 10px;
    p {
      display: block;
      width: 36px;
      height: 50px;
      &:hover {
        background: #c23d3d;
      }
    }
    .erpic {
      display: none;
      position: absolute;
      left: -130px;
      top: 0px;
    }
    &:last-child:hover .erpic {
      display: block;
    }
  }
  > p {
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    margin-bottom: 20px;
  }
}

.car-pic0 {
  position: absolute;
  background: url(./img/header.png) no-repeat -9px -136px;
  left: 7px;
  top: 5px;
  width: 40px;
  height: 30px;
}

.car-pic1 {
  position: absolute;
  background: url(./img/header.png) no-repeat -9px -136px;
  left: 7px;
  top: 100px;
  width: 40px;
  height: 30px;
}

.car-pic2 {
  position: absolute;
  background: url(./img/header.png) no-repeat -9px -136px;
  left: 7px;
  top: 226px;
  width: 40px;
  height: 30px;
}

.car-pic3 {
  position: absolute;
  background: url(./img/header.png) no-repeat -9px -136px;
  left: 7px;
  top: 296px;
  width: 40px;
  height: 30px;
}

.car-pic4 {
  position: absolute;
  background: url(./img/header.png) no-repeat -9px -136px;
  left: 6px;
  top: 0px;
  width: 40px;
  height: 30px;
}

.car-pic5 {
  position: absolute;
  background: url(./img/header.png) no-repeat -9px -136px;
  left: 7px;
  top: 58px;
  width: 40px;
  height: 30px;
}

/* ===============banner============= */

#banner {
  width: 1300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  .idx {
    position: absolute;
    left: 50%;
    bottom: 0px;
    text-align: center;
  }
  .pic {
    width: 3900px;
    height: 400px;
    transition: 0.2s;
    img {
      width: 1300px;
      height: 400px;
    }
    li {
      float: left;
    }
  }
  .idx li {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background-color: #333;
    background: rgba(51, 51, 51, 0.5);
    border-radius: 50%;
    margin-right: 80px;
    margin-left: -60px;
  }
}

/* =======每日推荐======= */

#daily {
  h2 {
    height: 66px;
    line-height: 66px;
    padding-left: 40px;
    padding-top: 5px;
  }
  ul li {
    float: left;
    &:nth-child(2n-1) {
      float: right;
    }
  }
}

/* ======产品区=========== */

#main {
  .menu {
    height: 66px;
    line-height: 66px;
    padding-left: 40px;
    padding-top: 5px;
    border-bottom: 1px solid #ccc;
    .index1 a {
      color: #666666;
      padding: 0 10px;
      &:hover {
        color: #e73736;
      }
    }
  }
  .content {
    .left {
      width: 949px;
      height: 700px;
      li {
        float: left;
        width: 236px;
        height: 330px;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 0 10px;
        a {
          img {
            display: block;
            width: 196px;
            height: 196px;
            margin-bottom: 20px;
          }
          color: #3e3a39;
          div {
            text-align: center;
            margin-top: 30px;
          }
          .now-price {
            color: #e73736;
            font-size: 18px;
          }
          .old-price {
            text-decoration: line-through;
            color: #999;
            font-size: 14px;
          }
        }
      }
    }
    .right {
      width: 245px;
      height: 700px;
      border-right: 1px solid #ccc;
      padding-left: 10px;
      font-size: 14px;
      .hot {
        height: 74px;
        line-height: 74px;
      }
      li {
        a img {
          width: 70px;
          height: 70px;
          margin-right: 5px;
        }
        height: 118px;
        border-top: 1px solid #ccc;
        padding: 10px 5px;
        &:hover a {
          color: rgb(224, 77, 77);
          .now-price {
            color: rgb(160, 44, 44);
          }
        }
        a {
          color: rgb(145, 142, 142);
          .now-price {
            color: rgb(92, 89, 88);
            font-size: 18px;
          }
          div {
            text-align: center;
            margin-top: 15px;
          }
        }
      }
    }
  }
}

/* ==========footer============ */

#footer {
  .footer1 {
    width: 100%;
    height: 54px;
    line-height: 54px;
    background: #3E3A39;
    color: #fff;
    font-size: 14px;
    ul li {
      float: left;
      width: 235px;
      text-align: center;
    }
  }
  .footer-links {
    padding: 30px 0 20px;
    border-bottom: 1px solid #dfdfdf;
    color: #6d6d6d;
    background: #F1F1F1;
    .col-links {
      float: left;
      display: block;
      width: 160px;
      margin-left: 38px;
      text-align: left;
      font-size: 12px;
    }
    .col-contact {
      width: 120px;
      font-size: 12px;
      p {
        display: block;
        width: 120px;
        height: 20px;
      }
      .alltime {
        margin-top: 70px;
        display: block;
        width: 120px;
        height: 40px;
        background: #f40;
        color: #000;
        text-align: center;
        line-height: 40px;
      }
    }
  }
  .last p {
    display: block;
    width: 100%;
    height: 66px;
    line-height: 66px;
    background: #F1F1F1;
    text-align: center;
    font-size: 14px;
    a {
      color: #333;
    }
  }
  .footer2 {
    dt {
      font-size: 16px;
      line-height: 30px;
    }
    dl dd a {
      line-height: 30px;
      color: #000;
      font-size: 14px；;
      &:hover {
        color: #e73736;
      }
    }
  }
}


