@charset "UTF-8";
.container {
  width: 1202px; }

#header {
  width: 100%;
  height: 30px;
  background: #3E3A39;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 30px; }
  #header a {
    color: #fff; }
  #header .welcome li {
    float: left;
    margin-right: 20px; }
    #header .welcome li a:hover {
      color: #999; }
  #header .user-bar > li {
    float: left;
    margin-right: 30px; }
    #header .user-bar > li > a:hover {
      color: #999; }
  #header .user-bar .more-menu {
    position: relative; }
    #header .user-bar .more-menu .list {
      position: absolute;
      left: -40px;
      top: 30px;
      border: 1px solid #d7d7d7;
      display: none;
      z-index: 10000; }
    #header .user-bar .more-menu:hover .list {
      display: block; }
    #header .user-bar .more-menu .list a {
      font-size: 12px;
      width: 100px;
      display: block;
      color: #000;
      background-color: #fff;
      border-bottom: 1px dotted #d7d7d7;
      padding: 6px 10px;
      height: 30px;
      line-height: 17px;
      overflow: hidden; }

/*====== search部分====== */
#search {
  margin-bottom: 20px; }
  #search .logo-search {
    margin-right: 100px; }
  #search .search-tab .soinput {
    float: left;
    border: #e73736 2px solid;
    border-right: 0;
    width: 432px;
    height: 36px;
    padding-left: 10px; }
  #search .search-tab .sobtn {
    background: #e73736;
    float: left;
    display: block;
    text-align: center;
    width: 82px;
    height: 36px;
    color: #fff;
    border: none;
    margin-right: 1px;
    cursor: pointer; }
  #search .search-tags a {
    float: left;
    display: block;
    margin-right: 10px;
    color: #666666;
    font-size: 12px;
    margin-top: 8px; }
  #search .shop {
    color: #fff;
    background-color: #F7F7F7;
    height: 36px;
    padding: 2px;
    display: block;
    width: 200px;
    padding-left: 80px;
    position: relative; }

.car-pic {
  position: absolute;
  background: url(./img/common-icon.png) no-repeat -158px 0px;
  left: 10px;
  top: 3px;
  width: 40px;
  height: 30px; }

#search .car-go {
  vertical-align: top;
  line-height: 37px;
  color: #666;
  margin-left: -1px; }

#search .shop .car-go {
  font-size: 12px; }

/* ========nav=========== */
#nav h2 a {
  display: block;
  width: 210px;
  line-height: 38px; }

.nav-items li {
  float: left;
  display: block;
  height: 34px;
  padding: 2px 25px;
  position: relative;
  line-height: 34px; }

#nav a {
  display: block;
  color: #333333;
  text-decoration: none;
  font-size: 12px; }

#nav .nav-items li a:hover {
  color: #e73736;
  border-bottom: 2px solid #e73736; }

#nav .nav-other li {
  float: left;
  text-align: center; }
  #nav .nav-other li a {
    height: 36px;
    color: #999;
    font-size: 12px;
    padding-right: 28px;
    padding-top: 10px; }

#nav .all {
  font: 14px;
  display: block;
  height: 38px;
  line-height: 38px;
  text-decoration: none;
  text-align: center;
  text-indent: -15px;
  cursor: default;
  position: relative; }

#nav .nav-one {
  background: #3e3a39;
  width: 200px;
  height: 400px;
  position: absolute;
  top: 180px;
  left: 30px;
  overflow: visible;
  z-index: 50; }
  #nav .nav-one .cateone {
    height: 79px;
    overflow: hidden;
    position: relative;
    zoom: 1;
    z-index: 999;
    border-bottom: 1px dotted #4D4746; }
    #nav .nav-one .cateone:hover {
      background: #696161;
      border-left: 5px solid red;
      width: 200px; }
    #nav .nav-one .cateone .muyin {
      height: 33px; }
    #nav .nav-one .cateone .cateone_1 {
      color: #fff;
      display: inline-block;
      font-size: 16px;
      line-height: 33px;
      margin-top: 10px;
      text-align: center; }
    #nav .nav-one .cateone.mu {
      float: left;
      display: block;
      width: 33px;
      height: 33px;
      margin: 10px 10px 0 0;
      z-index: 999; }
    #nav .nav-one .cateone .cateone_2 {
      width: 210px;
      height: 30px;
      line-height: 30px;
      text-align: center; }
      #nav .nav-one .cateone .cateone_2 a {
        display: inline;
        line-height: 30px;
        color: #fff;
        margin-right: 20px; }
  #nav .nav-one .catetwo {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: #fff;
    border: #eee 1px solid;
    border-top: 0;
    width: 997px;
    min-height: 399px;
    position: absolute;
    top: 0;
    left: 200px;
    z-index: 42;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    padding: 20px;
    display: none; }
  #nav .nav-one .list1:hover .catetwo {
    display: block; }
  #nav .nav-one .catetwo a {
    float: left;
    display: block;
    width: 150px;
    height: 50px; }
    #nav .nav-one .catetwo a:hover {
      color: red; }
  #nav .nav-one .catetwo dl {
    width: 100%;
    display: block;
    z-index: 49;
    padding: 10px 0; }
  #nav .nav-one .catetwo dt a {
    color: #e73736; }

/* ===========二级导航========== */
/* ========gotop========== */
.go-top {
  width: 36px;
  height: 100%;
  position: fixed;
  background: #666;
  top: 0;
  right: 0px; }
  .go-top .person {
    width: 36px;
    height: 50px; }
    .go-top .person .pmsg {
      position: absolute;
      width: 200px;
      height: 200px;
      left: -200px;
      background: #fff;
      top: 0px;
      border: 1px solid #c23d3d;
      display: none; }
    .go-top .person:hover .pmsg {
      display: block; }
  .go-top .shop-car {
    height: 130px;
    color: #fff; }
  .go-top .tu {
    margin-top: 50px;
    height: 50px;
    line-height: 50px; }
  .go-top .person:hover, .go-top .tu:hover, .go-top .shop-car:hover, .go-top p:hover {
    background: #c23d3d; }
  .go-top .shop-car span {
    padding-top: 60px;
    width: 16px;
    display: block;
    height: 48px;
    margin: 40px 0 0 12px;
    cursor: pointer;
    line-height: 16px; }
  .go-top .dibu {
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin-bottom: 10px; }
    .go-top .dibu p {
      display: block;
      width: 36px;
      height: 50px; }
      .go-top .dibu p:hover {
        background: #c23d3d; }
    .go-top .dibu .erpic {
      display: none;
      position: absolute;
      left: -130px;
      top: 0px; }
    .go-top .dibu:last-child:hover .erpic {
      display: block; }
  .go-top > p {
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    margin-bottom: 20px; }

.car-pic0 {
  position: absolute;
  background: url(./img/header.png) no-repeat -9px -136px;
  left: 7px;
  top: 5px;
  width: 40px;
  height: 30px; }

.car-pic1 {
  position: absolute;
  background: url(./img/header.png) no-repeat -9px -136px;
  left: 7px;
  top: 100px;
  width: 40px;
  height: 30px; }

.car-pic2 {
  position: absolute;
  background: url(./img/header.png) no-repeat -9px -136px;
  left: 7px;
  top: 226px;
  width: 40px;
  height: 30px; }

.car-pic3 {
  position: absolute;
  background: url(./img/header.png) no-repeat -9px -136px;
  left: 7px;
  top: 296px;
  width: 40px;
  height: 30px; }

.car-pic4 {
  position: absolute;
  background: url(./img/header.png) no-repeat -9px -136px;
  left: 6px;
  top: 0px;
  width: 40px;
  height: 30px; }

.car-pic5 {
  position: absolute;
  background: url(./img/header.png) no-repeat -9px -136px;
  left: 7px;
  top: 58px;
  width: 40px;
  height: 30px; }

/* ===============banner============= */
#banner {
  width: 1300px;
  height: 400px;
  position: relative;
  overflow: hidden; }
  #banner .idx {
    position: absolute;
    left: 50%;
    bottom: 0px;
    text-align: center; }
  #banner .pic {
    width: 3900px;
    height: 400px;
    transition: 0.2s; }
    #banner .pic img {
      width: 1300px;
      height: 400px; }
    #banner .pic li {
      float: left; }
  #banner .idx li {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background-color: #333;
    background: rgba(51, 51, 51, 0.5);
    border-radius: 50%;
    margin-right: 80px;
    margin-left: -60px; }

/* ==========footer============ */
#footer .footer1 {
  width: 100%;
  height: 54px;
  line-height: 54px;
  background: #3E3A39;
  color: #fff;
  font-size: 14px; }
  #footer .footer1 ul li {
    float: left;
    width: 235px;
    text-align: center; }

#footer .footer-links {
  padding: 30px 0 20px;
  border-bottom: 1px solid #dfdfdf;
  color: #6d6d6d;
  background: #F1F1F1; }
  #footer .footer-links .col-links {
    float: left;
    display: block;
    width: 160px;
    margin-left: 38px;
    text-align: left;
    font-size: 12px; }
  #footer .footer-links .col-contact {
    width: 120px;
    font-size: 12px; }
    #footer .footer-links .col-contact p {
      display: block;
      width: 120px;
      height: 20px; }
    #footer .footer-links .col-contact .alltime {
      margin-top: 70px;
      display: block;
      width: 120px;
      height: 40px;
      background: #f40;
      color: #000;
      text-align: center;
      line-height: 40px; }

#footer .last p {
  display: block;
  width: 100%;
  height: 66px;
  line-height: 66px;
  background: #F1F1F1;
  text-align: center;
  font-size: 14px; }
  #footer .last p a {
    color: #333; }

#footer .footer2 dt {
  font-size: 16px;
  line-height: 30px; }

#footer .footer2 dl dd a {
  line-height: 30px;
  color: #000;
  font-size: 14px；; }
  #footer .footer2 dl dd a:hover {
    color: #e73736; }
