/* ========gotop========== */
.go-top{
    width: 36px;
    height: 100%;
    position: fixed;
    background: #666;
    top: 0;
    right: 0px;
    z-index: 1999;
    padding-top:30px;
}
.go-top .person{
    width:36px;
    height: 50px;
}
.go-top .person .pmsg{
    position: absolute;
    width:200px;
    height:200px;
    left:-200px;
    background: #fff;
    top:0px;
    border:1px solid #c23d3d;
    display: none;
    text-align: center;
    padding-top:20px;
}
.go-top .person:hover .pmsg{
    display: block;
}
.go-top .person .pmsg p{
    margin-top:40px;
}
.go-top .person .pmsg p:hover{
    background:#fff;
}

.go-top .shop-car{
    height: 130px;
    color: #fff;
}
.go-top .tu{
    margin-top:50px;
    height: 50px;
    line-height: 50px;

}
.go-top .person:hover{
    background:  #c23d3d;
}
.go-top .tu:hover{
    background:  #c23d3d;
}
.go-top .shop-car:hover{
    background: #c23d3d;
}
.go-top p:hover{
    background:  #c23d3d;
}
.go-top p .history{
    width:50px;
    height:30px;
}
.go-top .shop-car a{
    padding-top:60px;
    width: 16px;
    display: block;
    height: 48px;
    margin: 40px 0 0 12px;
    cursor: pointer;
    line-height: 16px;
    color:#fff;
}

.go-top .dibu{
    position: absolute;
    left:0px;
    bottom:0px;
    margin-bottom: 10px;
}

.go-top>p{
    display: block;
    width:100%;
    height:50px;
    padding:10px 10px;
    margin-bottom: 10px;
}
.go-top .dibu p{
    display: block;
    width:36px;
    height:50px;
}
.go-top .dibu p:hover{
    background:#c23d3d;
}
.go-top .dibu .erpic{
    display: none;
    position: absolute;
    left:-130px;
    top:-80px;
}
.go-top .dibu .back{
    display: none;
    width:100%;
    text-align: center;
    padding-top:15px;
    color:#f40;

}
.go-top .dibu:last-child:hover .erpic{
    display: block;
}
.fa-user{
    position: absolute;
    left:11px;
    top:46px;
    width:40px;
    height:30px;
    color:#fff;
}
.car-pic1{
    position: absolute;
    background: url(./img/header.png) no-repeat -9px -136px ;
    left:7px;
    top:145px;
    width:40px;
    height:30px;
}

.fa-weixin{
    position: absolute;
    left:6px;
    top:16px;
    width:40px;
    height:30px;
}




/* =====我要让右侧栏的购物车显示数量啦 */
.go-top .shop-car .all-num{
    display: inline-block;
    text-align: center;
    line-height: 25px;
    width:25px;
    height:25px;
    border:1px solid #e73736;
    background: #e73736;
    border-radius: 50%;
    position: absolute;
    left:6px;
    top:128px;
}

/*=======top-fix======  */
#top-fix{
    width:100%;
    height:64px;
    position:fixed;
    top:0px;
    left:0px;
    padding-left:50px;
    display:none;
    background: #fff;
    z-index: 400;

}
#top-fix .nav-items{
    margin-left:40px;
}
#top-fix .nav-items li{
    float: left;
    margin-right:30px;
    display: block;
    height: 34px;
    position: relative;
    line-height:34px;
    text-align: center;
    padding-top:20px;
}
#top-fix a{
    display: block;
    color:#333333;
    text-decoration: none;
    font-size:12px;
}
#top-fix .nav-items li a:hover{
    color: #e73736;
    border-bottom: 2px solid #e73736;
}




/* ==========footer============ */
#footer .footer1{
    width:100%;
    height: 54px;
    line-height: 54px;
    background: #3E3A39;
    color: #fff;
    font-size: 14px;
}
#footer .footer1 ul li{
    float:left;
    width: 235px;
    text-align: center;
}
#footer .footer-links{
    padding: 30px 0 20px;
    border-bottom: 1px solid #dfdfdf;
    color: #6d6d6d;
    background: #F1F1F1

}
#footer .footer-links .col-links{
    float: left;
    display: block;
    width: 160px;
    margin-left: 38px;
    text-align: left;
    font-size:12px;
}
#footer .footer-links .col-contact{
    width:120px;
    font-size:12px;
}
#footer .footer-links .col-contact p{
    display: block;
    width:120px;
    height:20px;
}
#footer .footer-links .col-contact .alltime{
    margin-top:70px;
    display: block;
    width:120px;
    height:40px;
    background: #f40;
    color:#000;
    text-align: center;
    line-height: 40px;

}
#footer .last p{
    display: block;
    width:100%;
    height:66px;
    line-height: 66px;
    background: #F1F1F1;
    text-align: center;
    font-size:14px;
}
#footer .last p a{
    color:#333;
}
#footer .footer2 dt{
    font-size: 16px;
    line-height: 30px;
}
#footer .footer2 dl dd a{
    line-height: 30px;
    color:#000;
    font-size:14px；
}
#footer .footer2 dl dd a:hover{
    color:#e73736;
}